{% extends "core/base.html" %}
{% block page_title %}Connexion{% endblock page_title %}
{% block content %}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=red&shade=500" alt="RiskFlow"
      class="mx-auto h-10 w-auto" />
    <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-text-main">
      Connexion à votre compte
    </h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    {% if form.errors %}
    <div class="mb-4 p-3 rounded-lg bg-status-danger-bg border border-status-danger-border text-sm text-status-danger">
      Votre identifiant ou mot de passe est incorrect.
    </div>
    {% endif %}

    <form method="POST" class="space-y-6">
      {% csrf_token %}

      <div>
        <label for="id_username" class="block text-sm/6 font-medium text-text-body">Nom d'utilisateur</label>
        <div class="mt-2">
          <input id="id_username" type="text" name="username" required autocomplete="username"
            class="block w-full rounded-lg bg-surface-secondary border border-border-default px-3 py-1.5 text-sm text-text-main placeholder:text-text-ghost focus:border-brand-primary focus:ring-1 focus:ring-brand-primary outline-none transition" />
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label for="id_password" class="block text-sm/6 font-medium text-text-body">Mot de passe</label>
          <div class="text-sm">
            <a href="#" class="font-semibold text-brand-light hover:text-brand-hover transition">Mot de passe oublié
              ?</a>
          </div>
        </div>
        <div class="mt-2">
          <input id="id_password" type="password" name="password" required autocomplete="current-password"
            class="block w-full rounded-lg bg-surface-secondary border border-border-default px-3 py-1.5 text-sm text-text-main placeholder:text-text-ghost focus:border-brand-primary focus:ring-1 focus:ring-brand-primary outline-none transition" />
        </div>
      </div>

      <div>
        <button type="submit"
          class="flex w-full justify-center rounded-lg bg-brand-primary px-3 py-2 text-sm font-semibold text-white hover:bg-brand-hover focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-brand-primary transition cursor-pointer">
          Se connecter
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}